<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/movieStyle.css' />
    <title>{{title}}</title>
</head>

<body>
    <main>
        <h1 class="title text-center">LỊCH CHIẾU PHIM</h1>
        <div class="nav">
            <div class="bgr d-flex flex-row justify-content-between">
                <div class="input-search d-flex flex-row justify-content-between">
                    <input type="search" placeholder="Search..." name="" id="">
                    <i class="bi bi-search"></i>
                </div>
                <button onclick="BtnThem()" type="button">Thêm phim mới</button>
            </div>
        </div>
        <table border="0" class="table table-striped-columns table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Phòng chiếu</th>
                    <th>Giờ chiếu</th>
                    <th>Ngày chiếu</th>
                    <th>Phim</th>
                    
                </tr>
            </thead>
            <div id="preloader"></div>
            <tbody></tbody>
        </table>
        <div class="page">
            <div id="page" class="btn-group me-2" role="group" aria-label="First group"></div>
        </div>
    </main>
    <script src="javascripts/movie.js"></script>
</body>

</html>